<h4 style="text-align: center; padding: 30px 0px">
  Probando formulario en una tabla
</h4>
<div class="w-100 d-flex align-items-center justify-content-center pb-3">
  <button (click)="mostrarInputs = true" class="btn btn-primary">
    Agregar Nuevo
  </button>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of personas">
      <td>{{ p.nombre }}</td>
      <td>{{ p.apellido }}</td>
      <td>{{ p.edad }}</td>
    </tr>
    <tr *ngIf="mostrarInputs">
      <td><input [(ngModel)]="nuevoNombre" placeholder="Nuevo Nombre" /></td>
      <td>
        <input [(ngModel)]="nuevoApellido" placeholder="Nuevo Apellido" />
      </td>
      <td><input [(ngModel)]="nuevaEdad" placeholder="Nueva Edad" /></td>
      <td>
        <button class="btn btn-primary btn-sm m-2" (click)="guardarNuevo()">
          Guardar
        </button>
        <button class="btn btn-primary btn-sm" (click)="cancelarNuevo()">
          Cancelar
        </button>
      </td>
    </tr>
  </tbody>
</table>
